services:
  db:
    image: postgres:16
    container_name: authdb
    environment:
      POSTGRES_DB: authdb
      POSTGRES_USER: divvy
      POSTGRES_PASSWORD: divvycodes
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql
    restart: unless-stopped

volumes:
  db_data:
